body {
    font-family: Arial, sans-serif;
    background-color: #f7cfc4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#url-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    
}

button{
    background-color:rgb(42, 174, 226);
    height: 5vh;
    border-radius: 5px;
}